<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<description>
		A web application for better course management.
	</description>
	<context-param>
		<param-name>webmaster</param-name>
		<param-value>puzhenq@qq.com</param-value>
	</context-param>

	<servlet>
		<servlet-name>Json</servlet-name>
		<servlet-class>edu.zjgsu.courseapp.servlet.JsonServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>Forum</servlet-name>
        <servlet-class>edu.zjgsu.courseapp.servlet.ForumServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Forum</servlet-name>
        <url-pattern>/forum</url-pattern>
    </servlet-mapping>

	<!--<servlet-mapping>-->
		<!--<servlet-name>Json</servlet-name>-->
		<!--<url-pattern>/json</url-pattern>-->
	<!--</servlet-mapping>-->
</web-app>